* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ECECEC;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 15px;
}

.header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  
}

.header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

.header-item.logo {
  width: 92px;
  align-items: center;
}

.logo-image {
  width: 64px;
  height: 64px;
  background-image: url("../../public/images/logo2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header .company {
  flex: auto;
}

.header-item.company .text {
  font-weight: 800;
  font-size: 35px;
}

.header-item.user .text {
  font-size: 17px;
}

.container {
  display: flex;
  flex-grow: 1;
}

.side-panel {
  width: 95px;
  max-width: 95px;
  margin-top: 35px;
}

.side-panel .blank-block {
  width: 100%;
  height: 25px;
}

.item-side-panel {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 4px 0;
  border-radius: 11px;
}

.item-side-panel.active {
  background-color: #c9c9c9;
}

.item-side-panel:hover {
  background-color: #c9c9c9;
}

.item-side-panel .title-wrapper .title {
  font-size: 12px;
}

.image-wrapper, .title-wrapper {
  display: flex;
  justify-content: center;
}

.title-wrapper {
  margin-top: 5px;
}

.item-side-panel .image-wrapper .image {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.side-orders .image {
  background-image: url("../../public/images/side_panel/orders.svg");
}

.side-goods .image {
  background-image: url("../../public/images/side_panel/goods.svg");
}

.side-employees .image {
  background-image: url("../../public/images/side_panel/employees.svg");
}

.side-customers .image {
  background-image: url("../../public/images/side_panel/customer.svg");
}

.side-categories .image {
  background-image: url("../../public/images/side_panel/category.svg");
}

.work-space {
  flex-grow: 1;
  background-color: white;
  border-radius: 25px 25px 0 0;
}

.page {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
  min-width: 1170px;
  overflow-x: auto;
}

.order-page {
  display: flex;
  flex-direction: column;
}

.order-page .page-content {
  flex: auto;
}

.order-page .page-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-page .header-part {
  display: flex;
}

.page-header select {
  font-family: 'Inter', sans-serif;
}

.button-add, .button-export, .button-delete {
  cursor: pointer;
}

.order-page .page-header .button-add {
  width: 30px;
  height: 30px;
}

.order-page .page-header .button-export {
  width: 30px;
  height: 30px;
}

.order-page .page-header .button-delete {
  width: 30px;
  height: 30px;
}

.categories-page .ceph-select,
.customers-page .ceph-select,
.employees-page .ceph-select,
.goods-page .ceph-select,
.order-page .ceph-select {
  width: 184px;
  height: 37px;
  text-align: center;
  background-color: #ECECEC;
  border-radius: 15px;
  border: none;
  padding: 0 0px;
  font-size: 15px;
}

.page-footer {
  margin-top: 10px;
}

.categories-page .page-footer .console,
.customers-page .page-footer .console,
.employees-page .page-footer .console,
.goods-page .page-footer .console,
.order-page .page-footer .console {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
}

.select-onPage {
  margin-left: 10px;
  width: 137px;
}

.button-add .image {
  background-image: url("../../public/images/buttons/add.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.button-export .image {
  background-image: url("../../public/images/buttons/export.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.button-delete .image {
  background-image: url("../../public/images/buttons/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.order-page .page-header .button-add,
.order-page .page-header .ceph-select,
.order-page .page-header .button-export,
.order-page .page-header .button-delete {
  margin: 5px;
}

.wrapper-period {
  display: flex;
  align-items: center;
}

.wrapper-date label {
  margin: 0 10px;
}

.wrapper-date input{
  margin: 0 5px;
  background-color: #ECECEC;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  height: 37px;
  width: 139px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.vl {
  border-left: 2px solid #bfbdbd;
  height: 40%;
}

.block-table {
  display: flex;
  justify-content: center;
}

.orders-list {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
}

.orders-list .col1{
  background-color: #03AB78;
}

.orders-list .col2{
  background-color: #03ab78cc;
}

.orders-list tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Ваш колір для парних рядків */
}

.orders-list tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Ваш колір для непарних рядків */
}

.orders-list thead {
  height: 50px;
  
  color: #FFFFFF;
}

.orders-list thead th {
  padding: 0 8px;
}

.orders-list thead th .text {
  padding: 0 19px;
}

.orders-list tbody tr {
  text-align: center;
  height: 50px;
}

.checkbox-column input {
  width: 16px;
  height: 16px;
}

.order-page .page-header .button-delete {
  margin-left: 40px;
}

/* ########auth########### */
.auth-page {
  background-color: #ECECEC;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth-page .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.auth-page .auth-block {
  width: 660px;
  height: 559px;
  background-color: #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-page .auth-logo {
  width: 64px;
  height: 64px;
  background-image: url("../../public/images/logo2.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}

.auth-page .title {
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 900;
}

.auth-page .auth-block input, .auth-page .auth-block button {
  width: 534px;
  height: 55px;
  border-radius: 15px;
  background-color: #ECECEC;
  border: none;
  font-size: 24px;
  margin: 10px 0 10px 0;
  padding-left: 28px;
}

.auth-page .auth-block button {
  background-color: #03AB78;
  color: white;
  font-weight: 700;
}

.auth-page .auth-block .info {
  width: 534px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  color: #B2B0B0;
  margin-top: 35px;
}

.auth-page .auth-block .info a {
  text-decoration: none;
  color: #B2B0B0;
}

.auth-page .error-list {
  color: #db1313;
}

.forgot-page .auth-block .text {
  padding: 10px;
  text-align: center;
}

/* ################### */

/* ########spiner########### */
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  
  & .path {
    stroke: #93bfec;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
/* ################### */

.dropdown-wrapper .text {
  cursor: pointer;
}

.header-profile-list {
  position: absolute;
  right: 12px;
  
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
}

.header-profile-list-item {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-wrapper:hover .header-profile-list {
  display: block;
}

.header-profile-list-item:hover {
  background-color: #ddd;
}

/* ########pagination-panel########### */
.pagination-panel {
  display: flex;
}

.pagination-block {
  display: flex;
  align-items: center;
}

.pagination-block .block {
  width: 40px;
  height: 40px;
  margin: 0px 2px;
}

.pagination-block a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  text-decoration:none;
}

.pagination-block a:active {
  text-decoration:none;
}

.pagination-block a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.svg-pagination {
  user-select: none;
  width: 22px;
  height: 22px;
  display: inline-block;
  fill: black;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.375rem;
  margin: 0px -8px;
}

.cur-page-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cur-page {
  cursor: text;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-input {
  width: 40px;
  height: 40px;
  text-align: center;
  padding-right: 4px;
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  font-size: 18px;
}

.pagination-block .text {
  margin: 0px 0px 0px 8px;
}

.pagination-panel .disabled {
  opacity: 0.38;
  pointer-events: none;
  cursor: default;
}

#onPage {
  width: 90px;
  height: 30px;
}
/* ################### */

/* ########order-detail########### */
.order-detail-page {
  padding: 5px 20px 10px 20px;
  display: flex;
  flex-direction: column;
}

.order-detail-page .common-info {
  margin-bottom: 10px;
}

.order-detail-page .common-info .panel {
  display: flex;
  width: 100%;
  height: 80px;
}

.order-detail-page .common-info .panel select,
.order-detail-page .common-info .panel label,
.order-detail-page .common-info .panel input {
  font-size: 17px;
}

.order-detail-page .common-info .panel input,
.order-detail-page .common-info .panel select {
  height: 37px;
}

.order-detail-page .common-info .panel .labeled-input.id {
  width: 160px;
}

.order-detail-page .common-info .panel .labeled-input.created_at,
.order-detail-page .common-info .panel .labeled-input.modified_at {
  width: 160px;
}

.order-detail-page .common-info .panel .labeled-select.status,
.order-detail-page .common-info .panel .labeled-select.payment_status {
  width: 160px;
}

.order-detail-page .common-info .panel .btn-set {
  height: 100%;
  display: flex;
  align-items: center;
  flex: auto;
  justify-content: end;
}

.order-detail-page .common-info .panel .btn-set .button-delete {
  width: 37px;
  height: 37px;
}

.order-detail-page .common-info .panel .btn-set .button-delete {
  margin: 0 5px;
  position: relative;
  top: 11px;
}

.order-detail-page .goods-info .table-block{
  width: 1198px;
  max-width: 1198px;
}

.order-detail-page .goods-info .table-block .goods-table {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
}

.order-detail-page .goods-info .table-block .goods-table thead {
  height: 35px;
  color: #FFFFFF;
  font-size: 15px;
}

.order-detail-page .goods-info .table-block .goods-table thead .checkbox-column {
  width: 50px;
}

.order-detail-page .goods-info .table-block .goods-table thead .id-good {
  width: 116px;
}

.order-detail-page .goods-info .table-block .goods-table thead .good_title {
  width: 400px;
}

.order-detail-page .goods-info .table-block .goods-table thead .vendor-code {
  width: 200px;
}

.order-detail-page .goods-info .table-block .goods-table thead .price {
  width: 150px;
}

.order-detail-page .goods-info .table-block .goods-table thead .quantity {
  width: 90px;
}

.order-detail-page .goods-info .table-block .goods-table thead .amount {
  width: 250px;
}

.order-detail-page .goods-info .table-block .goods-table .col1 {
  background-color: #03AB78;
}

.order-detail-page .goods-info .table-block .goods-table .col2 {
  background-color: #03ab78cc;
}

.order-detail-page .goods-info .table-block .goods-table th {
  padding: 0 8px;
}

.order-detail-page .goods-info .table-block .goods-table tbody tr {
  text-align: center;
  height: 35px;
  font-size: 15px;
}

.order-detail-page .goods-info .table-block .goods-table tbody td {
  height: 35px;
}

.order-detail-page .goods-info .table-block .goods-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.order-detail-page .goods-info .table-block .goods-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.order-detail-page .goods-info .table-block .goods-table tbody tr .good_title {
  text-align: left;
}

.order-detail-page .goods-info .table-block .goods-table .labeled-input {
  height: 100%;
  width: 100%;
  margin: 0;
}

.order-detail-page .goods-info .table-block .goods-table .labeled-input label {
  margin: 0;
}

.order-detail-page .goods-info .table-block .goods-table .labeled-input .content-block {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: transparent;
}

.order-detail-page .goods-info .table-block .goods-table .labeled-input .content-block .text-wrapper {
  flex: auto;
}

.order-detail-page .goods-info .table-block .goods-table .labeled-input .content-block input {
  border-radius: 0;
  background-color: transparent;
  font-size: 15px;
}

#order_goods_total_row {
  background-color: #35BC93;
  color: white;
  font-weight: 700;
}

.order-detail-page .goods-info .btn-block {
  height: 40px;
  width: 1198px;
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.order-detail-page .goods-info .btn-block .table-btn {
  background-color: #ECECEC;
  height: 100%;
  width: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px;
}

.order-detail-page .goods-info .btn-block .table-btn:hover {
  background-color: #d9d7d7;
}

.order-detail-page .goods-info .btn-block .table-btn:active {
  background-color: #bbb7b7;
}

.order-detail-page .goods-info .btn-block .table-btn .text {
  display: inline;
}

.order-detail-page .customer-info {
  width: 1198px;
  height: 364px;
  margin-top: 50px;
}

.order-info-customer {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  border-radius: 25px 25px 0 0;
}

.order-info-customer .local-header {
  width: 100%;
  height: 44px;
  background-color: #35BC93;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border-radius: 25px 25px 0 0;
  padding: 0 40px;
  font-size: 17px;
  font-weight: 700;
}

#order_customer_spinner {
  position: relative;
}

.order-info-customer .local-content {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 100%;
}

.order-info-customer .local-content .row1 {
  height: 100px;
  display: flex;
}

.order-info-customer .local-content .row1 .labeled-input.email {
  width: 340px;
}

.order-info-customer .local-content .row1 .labeled-input .content-block,
.order-info-customer .local-content .row1 .labeled-input .content-block .text-wrapper,
.order-info-customer .local-content .row1 .labeled-input .content-block .text-wrapper input {
  width: 100%;
}

.order-info-customer .local-content .row1 .labeled-input input {
  height: 40px;
}

.order-info-customer .local-content .row2 {
  display: flex;
  margin-top: 25px;
  padding: 0 10px;
  justify-content: space-between;
}

.order-info-customer .local-content .row2 .labeled-text #place_of_delivery {
  width: 608px;
  height: 140px;
}

.order-info-customer .local-content .row2 .labeled-text #customer_comment {
  width: 489px;
  height: 140px;
}

.order-detail-page .footer-block {
  display: flex;
  margin-top: 50px;
  height: 50px;
  width: 1198px;
  justify-content: space-between;
}

.order-detail-page .footer-block .notes {
  display: flex;
  align-items: center;
}

.order-detail-page .footer-block .btn-block {
  display: flex;
  justify-content: end;
}

.order-detail-page .footer-block .order-footer-btn {
  width: 210px;
  height: 50px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 700;
}

.order-detail-page .footer-block .order-footer-btn.save {
  background-color: #03AB78;
}

.order-detail-page .footer-block .order-footer-btn.cancel {
  background-color: #CB3730;
}

/* ################### */

/* ########LabeledInput########### */
.labeled-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.labeled-input label {
  margin: 0 0 5px 0;
  font-size: 17px;
}

.labeled-input .content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECECEC;
  border-radius: 11px;
  overflow: hidden;
}

.labeled-input .content-block .text-wrapper {
  height: 100%;
}

.labeled-input .content-block input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ECECEC;
  font-size: 17px;
  text-align: center;
  border-radius: 11px;
  outline: none;
  box-shadow: none;
}

.labeled-input.is-control-elem .content-block input {
  border-radius: 11px 0 0 11px;
}

.labeled-input .content-block .list-btn,
.labeled-input .content-block .detail-btn {
  width: 20px;
  height: 70%;
  margin: 0 0.5px 0 0.5px;
  cursor: pointer;

  background-image: url("../../public/images/list.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.labeled-input .content-block .detail-btn {
  background-image: url("../../public/images/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/* ################### */

/* ########LabeledSelect########### */
.labeled-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.labeled-select label {
  margin: 0 0 5px 0;
  font-size: 17px;
}

.labeled-select select{
  text-align: center;
  background-color: #ECECEC;
  border-radius: 11px;
  border: none;
  padding: 0 0px;
  width: 100%;
}


/* ################### */

/* ########ButtonDelete########### */
.button-delete {
  cursor: pointer;
}

/* ################### */

/* ########LabeledText########### */
.labeled-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labeled-text label {
  margin-bottom: 5px;
  font-size: 17px;
}

.labeled-text textarea {
  border: none;
  border-radius: 15px;
  background-color: #ECECEC;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

/* ################### */

/* ########OrderFooterBtn########### */

.order-footer-btn {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

/* ################### */

/* ########GoodsPage########### */

.categories-page,
.customers-page,
.goods-page {
  display: flex;
  flex-direction: column;
}

.categories-page .page-header,
.customers-page .page-header,
.employees-page .page-header,
.goods-page .page-header {
  height: 80px;
  display: flex;
  align-items: center;
}

.goods-page .page-header .button-add,
.goods-page .page-header .button-export,
.goods-page .page-header .button-delete {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.categories-page .page-header .labeled-search,
.customers-page .page-header .labeled-search,
.employees-page .page-header .labeled-search,
.goods-page .page-header .labeled-search {
  height: 100%;
  width: 155px;
  margin: 0 10px;
}

.categories-page .page-header .labeled-search input,
.customers-page .page-header .labeled-search input,
.employees-page .page-header .labeled-search input,
.goods-page .page-header .labeled-search input {
  height: 37px;
  font-size: 17px;
}

.categories-page .page-content,
.customers-page .page-content,
.employees-page .page-content,
.goods-page .page-content {
  flex: auto;
}

.categories-page .page-footer,
.customers-page .page-footer,
.employees-page .page-footer,
.goods-page .page-footer {
  height: 48px;
}

/* ################### */

/* ########GoodsTable########### */

.goods-table {
  width: 1305px;
}

.category-table .table-header,
.customer-table .table-header,
.employees-table .table-header,
.goods-table .table-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.category-table .table-header .col,
.customer-table .table-header .col,
.employees-table .table-header .col,
.goods-table .table-header .col {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 100%;
}

.category-table .table-header .col.col1,
.customer-table .table-header .col.col1,
.employees-table .table-header .col.col1,
.goods-table .table-header .col.col1 {
  background-color: #03AB78;
}

.category-table .table-header .col.col2,
.customer-table .table-header .col.col2,
.employees-table .table-header .col.col2,
.goods-table .table-header .col.col2 {
  background-color: #03ab78cc;
}

.goods-table .table-body .row .checkbox,
.goods-table .table-header .col.checkbox-column {
  width: 50px;
  flex: none;
  border-radius: 15px 0 0 0;
}

.goods-table .table-body .row .id,
.goods-table .table-header .col.good-id {
  width: 140px;
  flex: none;
}

.goods-table .table-body .row .title,
.goods-table .table-header .col.title {
  width: 435px;
  flex: none;
}

.goods-table .table-body .row .vendor_code,
.goods-table .table-header .col.vendor-code {
  width: 140px;
  flex: none;
}

.goods-table .table-body .row .category_display,
.goods-table .table-header .col.category {
  width: 210px;
  flex: none;
}

.goods-table .table-body .row .price,
.goods-table .table-header .col.price {
  width: 165px;
  flex: none;
}

.goods-table .table-body .row .stock_balance,
.goods-table .table-header .col.stock-balance {
  width: 165px;
  flex: none;
  border-radius: 0 15px 0 0;
}

.goods-table .table-header .col .text {
  font-size: 17px;
  font-weight: 700;
}

.goods-table .table-body .row {
  display: flex;
}

.category-table .table-body .row:nth-child(odd),
.customer-table .table-body .row:nth-child(odd),
.employees-table .table-body .row:nth-child(odd),
.goods-table .table-body .row:nth-child(odd) {
  background-color: #ffffff;
}

.category-table .table-body .row:nth-child(even),
.customer-table .table-body .row:nth-child(even),
.employees-table .table-body .row:nth-child(even),
.goods-table .table-body .row:nth-child(even) {
  background-color: #f2f2f2;
}

.category-table .table-body .row .row-item,
.customer-table .table-body .row .row-item,
.employees-table .table-body .row .row-item,
.goods-table .table-body .row .row-item {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

/* ################### */

/* ########LabeledSearch########### */

.labeled-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labeled-search .label {
  margin-bottom: 5px;
}

.labeled-search .search-block {
  display: flex;
  background-color: #ECECEC;
  border-radius: 11px;
}

.labeled-search input {
  width: 100%;
  border: none;
  background-color: #ECECEC;
  padding: 0 5px;
  border-radius: 11px 0 0 11px;
}

.labeled-search input:focus-visible {
  outline: none;
}

.labeled-search .search-block .btn {
  width: 30px;
  height: 100%;
  cursor: pointer;

  background-image: url("../../public/images/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* ################### */

/* ########EmployeesList########### */

.employees-page {
  display: flex;
  flex-direction: column;
}

.customer-table, 
.employees-table {
  width: 1175px;
}

.category-table .table-body .row,
.customer-table .table-body .row,
.employees-table .table-body .row {
  display: flex;
}

.category-table .table-body .row .checkbox,
.category-table .table-header .col.checkbox-column,
.customer-table .table-body .row .checkbox,
.customer-table .table-header .col.checkbox-column, 
.employees-table .table-body .row .checkbox,
.employees-table .table-header .col.checkbox-column {
  width: 50px;
  flex: none;
  border-radius: 15px 0 0 0;
}

.category-table .table-body .row .id,
.category-table .table-header .col.category-id,
.customer-table .table-body .row .id,
.customer-table .table-header .col.employee-id,
.employees-table .table-body .row .id,
.employees-table .table-header .col.employee-id {
  width: 50px;
  flex: none;
}

.customer-table .table-body .row .full-name,
.customer-table .table-header .col.full-name,
.employees-table .table-body .row .full-name,
.employees-table .table-header .col.full-name {
  width: 435px;
  flex: none;
}

.customer-table .table-body .row .email,
.customer-table .table-header .col.email,
.employees-table .table-body .row .email,
.employees-table .table-header .col.email {
  width: 370px;
  flex: none;
}

.customer-table .table-body .row .phone,
.customer-table .table-header .col.phone,
.employees-table .table-body .row .phone,
.employees-table .table-header .col.phone {
  width: 270px;
  flex: none;
  border-radius: 0 15px 0 0;
}

/* ################### */

.category-table {
  width: 450px;
}

.category-table .table-body .row .title,
.category-table .table-header .col.title {
  width: 350px;
  flex: none;
  border-radius: 0 15px 0 0;
}

/* ########ModalOrders########### */

.modal-list {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.modal-list .content {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
  height: 675px;
  width: 1312px;
}

.modal-list.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ################### */